
  /* Ensure toggle mask is positioned at the right corner */



/* Adjust the toggle mask (hide icon) to the right */

.p-icon.p-password-show-icon {
  position: absolute; /* Position it relative to its container */
  right: -240px;        /* Add space from the right edge */
  top: 50%;           /* Vertically center within the input */
  border: "none";
  outline: none;
  cursor: pointer;    /* Indicate interactivity */
}

.p-icon.p-password-hide-icon {
  position: absolute; /* Position it relative to its container */
  right: -240px;        /* Add space from the right edge */
  top: 50%;           /* Vertically center within the input */
  border: "none";
  outline: none;
  cursor: pointer;    /* Indicate interactivity */
}